gradio
openai
requests
beautifulsoup4
schedule
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
python-dotenv
pypdf
pandas
numpy
ragas
datasets
rank-bm25
python-dateutil